aside {
    background: #f9f9f9;
    padding: 2em;
}

a.warning {
    color: red;
}

h1.table {
    float: left;
}

table.log {
    width: 100%;
}

button.log-clear {
    padding: 0.75em 1em;
}

.primary {
    margin-top: 0.5em;
}

.row { // overriding foundation
    max-width: none;
}

.management {
    margin-top: 15px;
    text-align: right;

    .remove-site {
        margin: 0 0.8em;
        font-size: 0.8em;
    }
}

.subtle {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}

#your-sites {
    display: inline-block;
    margin-right: 0.2em;
}
