aside {
    background: #f9f9f9;
    padding: 2em;
}

a {
    &.warning {
        color: red;
    }

    &.forgot-password {
        font-size: 0.7em;
        margin-top: -1em;
        display: block;
    }
}

h1.table {
    float: left;
}

span.quota {
    vertical-align: text-bottom;
}

table.log {
    width: 100%;

    th {
        background: url(../img/bg.gif) no-repeat center right;
        cursor: pointer;

        &.headerSortUp {
            background-image: url(../img/asc.gif);
            background-color: #eaeaea;
        }

        &.headerSortDown {
            background-image: url(../img/desc.gif);
            background-color: #eaeaea;
        }
    }
}

form.medium {
    max-width: 300px;

    input {
        margin-bottom: 0; // overriding foundation
    }
}

button.log-clear {
    padding: 0.75em 1em;
}

section.registration {
    max-width: 350px;
    margin: 1em auto;
    padding: 0 10px;

    h1 {
        line-height: 1;
        margin-bottom: 0.5em;
    }

    button {
        float: right;
    }
}

span.helptext {
    display: block;
    line-height: 1.2;
    font-size: 0.8em;
    color: gray;
    margin-bottom: 2em;
}

.primary {
    margin-top: 0.5em;
}

.row { // overriding foundation
    max-width: none;
}

.management {
    margin-top: 15px;
    text-align: right;

    .remove-site {
        color: #777;
        margin: 0 0.8em;
        font-size: 0.8em;

        &:hover {
            color: red;
        }
    }
}

.alert-box {
    a {
        color: inherit;
        text-decoration: underline;

        &.close {
            text-decoration: none;
        }
    }
}

.no-entries {
    text-align: center;
}

.subtle {
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.break-word {
    word-wrap: break-word;
    word-break: break-all;
}

.plans {
    margin-top: 2em;

    .plan {
        float: left;
        margin: 0 20px 20px 0;
    }
}

#your-sites {
    display: inline-block;
    margin-right: 0.2em;
}
