{% extends "base.html" %}

{% block content %}
    
<div class="row">

    <aside class="small-3 large-2 column">
        <h4 id="your-sites">Your Sites</h4>
        <a class="subtle" href="{% url 'site_add' %}">&plus;&nbsp;add&nbsp;site</a>
        <ul class="side-nav">
        {% for s in sites %}
            <li><a href="{% url 'log' s.slug %}">{{ s.host }}</a></li>
        {% endfor %}
        </ul>
    </aside>

    <div class="primary small-9 large-10 column">
        {% if messages %}
            {% for message in messages %}
                <div data-alert class="alert-box {{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">&times;</a>
                </div> 
            {% endfor %}
        {% endif %}
        
        {% block primary_content %}{% endblock %}
    </div>

</div>

{% endblock %}
