<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block title %}monitor404{% endblock %}</title>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.11/fastclick.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.3/js/foundation.min.js"></script>
    <!--<script src="{{ STATIC_URL }}js/monitor404.js"></script>-->
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
<script>
    window.context = {};
</script>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="{% url 'front' %}">monitor404</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% if user.is_authenticated %}
      <li class="active"><a href="{% url 'log' %}">Dashboard</a></li>
      <li class="has-dropdown">
        <a href="#">{{ user }}</a>
        <ul class="dropdown">
          <li><a href="{% url 'plan_compare' %}">Your Plan</a></li>
          <li><a href="{% url 'user_prefs' %}">Preferences</a></li>
          <li><a href="{% url 'auth_logout' %}">Log out</a></li>
        </ul>
      </li>
      {% else %}
      <li class="active"><a href="{% url 'auth_login' %}">Log in</a></li>
      {% endif %}
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="{% url 'docs' %}">Documentation</a></li>
      {% if not user.is_authenticated %}
      <li><a href="{% url 'registration_register' %}">Create an account</a></li>
      {% endif %}
    </ul>
  </section>
</nav>

{% block content %}{% endblock %}
</body>
</html>
