{% extends "base.html" %}

{% block title %}Documentation | monitor404{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/monokai_sublime.css"/>
<script src="{{ STATIC_URL }}js/highlight.pack.js"></script>
    
<div class="row">

    <aside class="hide-for-small medium-3 large-2 column">
        <h5>Contents</h5>
        <ul class="side-nav">
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Troubleshooting</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Support</a></li>
        </ul>
    </aside>


    <div class="primary small-12 medium-9 large-10 column">

        <h1>Documentation</h1>
        <hr/>

        <h2>Getting Started</h2>
        <p>
            There are three steps to setting up your site with monitor404:
            <ol>
                <li><a href="{% url 'site_add' %}">Add your site</a> to the monitor404 dashboard.</li>
                <li>Include the script on the pages you want to monitor.</li>
                <li>Configure which links on pages you want to be monitor. (optional &ndash; all are monitored by default.)</li>
            </ol>
        </p>
        <h3>Adding a site</h3>
        <p>To add a site, go to the <a href="{% url 'site_add' %}">&ldquo;Add Site&rdquo; dialog</a> and enter the domain name of your site.</p>
        <p>Note that your site name should include a subdomain if it has one. For example, if your site is on www.reddit.com, include the &ldquo;www&rdquo;. The domain name you enter should be equal to the output of running <code>window.location.host</code> in JavaScript on your site.</p>
        <h3>Including the script</h3>
        <p>To monitor links on a page, include the following script anywhere on the page:</p> 
        <pre><code>&lt;script src="http://monitor404.s3.amazonaws.com/monitor404.min.js"&gt;&lt;/script&gt;</pre></code>
        <p>The script requires <a href="http://jquery.com/">jQuery</a>, which you should also load somewhere on the page. It's tested with jQuery version 1.10.2 but will probably work with other versions.</p>
        <p>That's it! monitor404 will check all links on which a user clicks for 404 errors. It will log errors in the <a href="{% url 'log' %}">dashboard</a> and, by default, send you an email if it finds a broken link. If you only want to monitor certain kinds of links, refer to the next section.</p>

        <h2>Settings</h2>
        <p>monitor404 lets you customize which links it monitors using jQuery selectors and same-origin/different-origin rules. By default, monitor404 will check all links for 404 errors. However in certain cases, you may only wish to check a subset.</p>
        <p>For example, you may already have logging or notifications set up on your server for HTTP 404 errors and only want to monitor links that go to external websites for errors. Or, you may run a blog and want to make sure all links in your posts stay working, but not really care if links in user-submitted comments break.</p>
        <p>To change any of these settings, define a JavaScript object variable on <code>window</code> named <code>_404_SETTINGS</code> anywhere before <code>$(document).ready()</code> fires. (Note the leading underscore on the variable name because JavaScript doesn't allow variables to start with a numeral.)
        <p>Below is an example configuration using all settings, after which each setting is described in detail.</p>
        <pre><code>window._404_SETTINGS = {
    include: 'article a.ref', // only include links inside the &lt;article&gt; 
                              // element that have the class "ref"
    exclude: '.comments a', // exclude links in that are inside an element 
                            // with the class "comments"
    origin: 'different' // only monitor links that go to external sites
};</pre></code>
        <h3><code>include</code></h3>
        <div class="setting panel">
            <strong>Default:</strong> <code>'a'</code> (all links)<br/>
            <strong>Format:</strong> string for a jQuery selector<br/>
            <strong>Constraints:</strong> must select <code>&lt;a&gt;</code> elements only
        </div>
        <p><code>include</code> controls which links are monitored for 404 errors. If not defined, all links will be monitored. If defined, any selector you would use in jQuery (i.e. put inside a <code>$()</code>) is valid, as long as it selects link elements only. Trying to monitor links on non-link elements would be pointless, and it results in an error.</p>

        <h3><code>exclude</code></h3>
        <div class="setting panel">
            <strong>Default:</strong> <code>''</code> (no links)<br/>
            <strong>Format:</strong> string for a jQuery selector<br/>
            <strong>Constraints:</strong> none
        </div>
        <p>From the links that are included, <code>exclude</code> determines which to omit from monitoring. No links are excluded by default. As with <code>include</code>, any jQuery selector is valid.</p>

        <h3><code>origin</code></h3>
        <div class="setting panel">
            <strong>Default:</strong> <code>'both'</code> (&ldquo;internal&rdquo; and &ldquo;external&rdquo; links)<br/>
            <strong>Options:</strong> <code>'same'</code>, <code>'different'</code>, or <code>'both'</code><br/>
        </div>
        <p><code>origin</code> allows you to include/exclude links for monitoring based on whether they are internal or external; i.e. whether they link to another page on your site and have the <code>'same'</code> hostname as the page from which they originate, or to a page off your site and have a <code>'different'</code> hostname than the page from which they originate. By default, <code>'both'</code> types are monitored.

        <h2>Troubleshooting</h2>
        <p>Setting up monitor404 is quite straightforward, but things always have a tendency to go awry, don't they? The purpose of this section is to make troubleshooting any errors as painless as possible.</p>

        <h3>Getting Feedback</h3>
        <p>For every link check that monitor404 sends out, it returns a JSON response that contains some useful information.</p>
        <p>To see this response, open the Chrome Developer Tools (I highly recommend Chrome though other major browsers have similiar solutions) and go to the &ldquo;Network&rdquo; tab.</p>
        <p>If you click on a link normally, the new page will load before you can see the response from monitor404. To get around this, simply <kbd>ctrl+click</kbd> (or <kbd>Apple+click</kbd>, depending on your OS) on the link so that it opens in a new tab. In the &ldquo;Network&rdquo; panel on the first page, you should see a request to <samp>monitor404.com/api/check/</samp>.</p>
        <p>If everything went well, you should see something like:</p>
        <pre><code>{result: 0, status: "success", message="Link queued for check."}</pre></code>
        <p>If this is the case, then yay! Everything's working &ndash; monitor404 recognized this request is associated with your site, got the link on which the user clicked, and has queued it for check (or retrieval from cache if it was checked recently).</p>
        <p>If something went wrong, you may see something like:</p>
        <pre><code>{result: 1, error: "DoesNotExist", 
message: "UserSite matching host \"example.com\" was not found."}</pre></code>
        <p>If you got an error message, do not despair! Below is documented every error the monitor404 server may return to you, what the error means, and how to fix the issue.</p>

        <h3>Error Messages</h3>
        <h4><samp>KeyError: Required key "destination" not found in request.</samp></h4>
        <p>This usually means the js script couldn't find the <code>href</code> property of the element on which the user clicked to send to the server. A common cause for this issue is that you're accidently including a non-link element, or the link element is missing an <code>href</code> property.</p>

        <h4><samp>KeyError: Required key "source" not found in request.</samp></h4>
        <p>This error means the URL of the page the user was on was not sent to the server. This error should not occur unless for some reason, running <code>document.URL</code> on the page containing the link returns <samp>undefined</samp> or <samp>null</samp>.</p>

        <h4><samp>URLError: Could not parse origin header "[value]".</samp></h4>
        <p>This error means either:
            <ol>
                <li>The origin header the browser sent was malformed (i.e. not a parsable URL), or</li>
                <li>If <samp>[value]</samp> is <code>None</code>, the browser did not send an origin header.</li>
            </ol>
        </p>
        <p>The second is probably more likely to occur. Because the request made is cross-origin (originating from somewhere other than monitor404.com), the browser should send an <samp>Origin</samp> header. Check the headers of the Ajax request. If the <samp>Origin</samp> header is missing, it may be that the browser you're using <a href="http://caniuse.com/#search=cross-origin%20resource%20sharing">doesn't support it</a>.</p>

        <h4><samp>DoesNotExist: UserSite matching host "[hostname]" was not found.</samp></h4>
        <p>If you get this error, it means that monitor404 doesn't have a site in its database matching the hostname from which you're sending the request. To fix the error, add (or re-add) a site from the <a href="{% url 'site_add' %}">&ldquo;Add Site&rdquo; dialog</a> with a <samp>Host</samp> that matches the host for which monitor404 is expecting as stated in the error message.</p>

        <h4><samp>500 Internal Server Error</samp></h4>
        <p>Uh oh! This means something went wrong on our end. Please contact support, and we'll get it fixed ASAP.</p>

        <h3>I didn't get any message whatsoever :(</h3>
        <p>The monitor404 server will <em>always</em> return a response. If there's no response, it probably means a request wasn't sent. Some common reasons for this are:
            <ol>
                <li>The <samp>monitor404.min.js</samp> script wasn't included on the page.</li>
                <li>The link element on which you're clicking does not have a monitor404 click event bound to it.</li>
                <li>You have a JavaScript error on the page which is preventing the monitor404 script from working properly.</li>
            </ol>
        </p>
        <p>The solution to #1 is simple: make sure the script is included on the page. If it is, you can check #2 by seeing if you have a <code>_404_SETTINGS</code> variable defined to selectively include/exclude links on the page. If this variable is defined, check the jQuery selectors and/or origin rules you're using to make sure the desired links are included.</p>
        <p>If both of the above check out, you may have a JavaScript error on the page. To check, open Chrome Developer Tools (or equivalent in other browsers), and go to the &ldquo;Console&rdquo; tab. Fix any JavaScript errors that are present there.</p>

        <h2>FAQ</h2>
        <h3>I set everything up; how do I know if it's working?</h3>
        <p><strong>Short answer:</strong> <kbd>ctrl+click</kbd>/<kbd>Apple+click</kbd> a link to open it in a new tab, check the Network panel in Chrome (or equivalent in other browsers), make sure the response is a happy success message.</p>
        <p><strong>Longer answer:</strong> see the &ldquo;Troubleshooting&rdquo; section.</p>
        
        <h3>How does monitor404 work?</h3>
        <p>When you set up monitor404, you include a tiny JavaScript file on pages you want to monitor. Whenever a user clicks a link that's being monitored, this JavaScript sends an Ajax request to a monitor404 server with the link they're trying to visit in the split second before they leave the page. monitor404 puts that link into an asyncronous processing queue, and then issues the URL a HEAD request to check the status code of the response.</p>

        <h3>Won't that Ajax request slow things down?</h3>
        <p>Yes, but not perceptibly. The request/response is so quick that it's virtually unnoticable, even if you're looking for it. Don't believe us? All the links on monitor404.com use monitor404. (why wouldn't they?) You tell me if it's negatively affecting your browsing experience.</p>

        <h3>So every time a user clicks on a link, it's double the requests?</h3>
        <p>No, for two reasons:
        <ol>
            <li>monitor404 caches the result of a URL check for an hour, so heavily trafficked links don't get re-checked with every click.</li>
            <li>monitor404 only issues HEAD requests, which are significantly lighter than GET requests because they only return the HTTP headers and not the body content of the page.</li>
        </ol></p>

        <h3>Do all servers respond to HEAD requests with the same status code they respond to GET requests?</h3>
        <p>According to the <a href="http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html">W3 spec</a>, they must. However, a few sites don't honor this and return 404 to all HEAD requests, or to all requests sent from an EC2 IP address (which monitor404 runs on). Consequently, monitor404 has had to ignore 404s from a few sites. An exhaustive list of ignored sites follows:
        <ul>
            {% for site in sites_to_skip %}
            <li>{{ site.host }}</li>
            {% endfor %}
        </ul></p>
        <p>If you find another site that always responds with 404s and needs to be ignored, you have suggestions on how to better mitigate this issue, or find this to be a dealbreaker, please let us know. We're very open to suggestions and feedback.</p>

        <h3>What happens if your server goes down?</h3>
        <p>monitor404 has graceful fallback measures in place to make sure all links work as normal if (heaven forbid) our server malfunctioned or went down.</p>

        <h3>How is monitor404 licensed? Can I run it on my own server?</h3>
        <p>Yep! monitor404 is open source, released under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Essentially, the license allows you to share/use/modify monitor404's code, as long as you attribute the work properly and don't use it for commercial purposes (subject to other terms; see the license for full details). If you're interested in commercial use, please contact us.</p>

        <h2>Support</h2>
        <p>Have you tried all of the above troubleshooting and still having trouble getting monitor404 to work? Do you have a feature request, suggestion, or question that's not answered by our FAQ? Maybe you just want to praise our wonderful product.</p>
        <p>Whatever the case, our support is here to lend a listening ear and a helping hand. We officially provide support to Premium and Enterprise customers and will prioritize answering their requests first, but we try to respond to everyone. We want to hear from you! Send us an email at {% if user.is_authenticated %}<a href="mailto:support@monitor404.com">support@monitor404.com</a>.{% else %}<pre>support (at) monitor404 (dot) com</pre>{% endif %}</p>

    </div>
</div>

{% endblock %}
