{% extends "base.html" %}

{% block content %}

<div class="front-page row">
    <h1 id="tagline">Link with confidence.</h1>
    <img id="banner" src="{{ STATIC_URL }}img/banner.svg" alt="monitor404"/>
    <h3 id="explainer" class="subheader">Comprehensive HTTP 404 error monitoring on your site in two steps.</h3>

    <div class="step">
        <div class="title">
            <span class="secondary label annotation">Step</span>
            <span class="number">1</span>
        </div>
        <p>Add your site to the monitor404 dashboard.</p>
    </div>

    <div class="step">
        <div class="title">
            <span class="secondary label annotation">Step</span>
            <span class="number">2</span>
        </div>
        <p>Include the tiny monitor404.js script on your site.</p>
    </div>

    <h4>That's it! You'll get notified anytime a link on your site breaks.</h4>
    
    <p>No dealing with backend-specific configuration. Spend less time on tedious setup and more time developing cool things.</p>

    <ul class="features panel inline-list">
        <li>Detailed error logging</li>
        <li>Email notifications</li>
        <li>Monitor links within your site <em style="display:inline">and</em> links to external sites</li>
    </ul>

    <h4>200 daily link checks per site for free.</h4>
    <a href="{% url 'registration_register' %}" class="large button">Get Started</a>

    <hr/>

    <h3>How does monitor404 work?</h3>
    <p>Whenever a user clicks on a link on your site, the monitor404.js script sends a request to the monitor404 server. monitor404 asyncronously checks the link (by issuing a HEAD request) to determine the the link is valid. monitor404 caches link checks to minimize load on frequently clicked links. The script is completely invisible to the user and optionally configurable to only monitor certain links.</p>
    <p>Check out the <a href="{% url 'docs' %}">documentation</a> for more info.</p>

    <h2>Plans</h2>
    {% for plan in plans %}
        {% include "plan.html" %}
    {% endfor %}

    <h4>Create a free account.</h4>
    <a href="{% url 'registration_register' %}" class="large button">Get Started</a>

</div>

{% endblock %}
