{% extends "base_sidebar.html" %}
{% load humanize %}

{% block title %}Change Plan | monitor404{% endblock %}

{% block primary_content %}

<link rel="stylesheet" href="{{ STATIC_URL }}css/creditly.css">

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script src="{{ STATIC_URL }}js/creditly.js"></script>
<script>
$(document).ready(function(){
    Stripe.setPublishableKey('pk_test_o41iwtQNmvQuGl4Vses2r1fa');

    var creditly = Creditly.initialize(
        '.creditly-wrapper .expiration-month-and-year',
        '.creditly-wrapper .credit-card-number',
        '.creditly-wrapper .security-code',
        '.creditly-wrapper .card-type');

    $(".creditly-wrapper button").click(function(e) {
        e.preventDefault();
        var output = creditly.validate();
        if (output) {
            Stripe.createToken({
                number: output['number'],
                cvc: output['security_code'],
                exp_month: output['expiration_month'].toString().substr(0,2),
                exp_year: '20' + output['expiration_year'].toString().substr(2,2),
            }, stripeResponseHandler);
        }
    });

    function stripeResponseHandler(status, response) {
        if (response.error) {
             $(".payment-errors").text(response.error.message).css('display', 'inline-block');
        } else {
            var form = $('form.creditly-wrapper');
            var token = response['id'];
            form.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            form.get(0).submit();
        }
    }
});

</script>

<h1>{% if user_prefs.plan.price > plan.price %}Downgrade{% else %}Upgrade{% endif %} to {{ plan.name }}</h1>

<p>Please {% if user_prefs.customer %}confirm that you would like{% else %}enter your payment details below{% endif %} to {% if user_prefs.plan.price > plan.price %}downgrade{% else %}upgrade{% endif %} to {{ plan.name }} for ${{ plan.price|floatformat:2 }}/month.</p>

<hr/>

<ul class="inline-list">
    <li><strong style="display:inline">{{ plan.max_requests|intcomma }}</strong> daily link checks per site</li>
    <li>Detailed logging</li>
    <li>Email notifications</li>
    {% if not plan.is_free %}<li>Dedicated support</li>{% endif %}
</ul>

<hr/>

{% if user_prefs.customer %}

<form method="post" action="{% url 'plan_charge' %}" class="">{% csrf_token %}
  <input type="hidden" name="plan" value="{{ plan.name|lower }}">
  <button type="submit">Confirm</button>
</form>

{% else %}

<div class="payment-errors alert label"></div>

<form method="post" action="{% url 'plan_charge' %}" class="creditly-wrapper gray-theme">{% csrf_token %}
  <input type="hidden" name="plan" value="{{ plan.name|lower }}">
  <!--<h3>Credit Card</h3>-->
  <div class="card-type"></div>
  <div class="credit-card-wrapper">
    <div class="first-row form-group">
      <div class="col-sm-8 controls">
        <label class="control-label">Card Number</label>
        <input class="number credit-card-number form-control"
          type="text" name="number"
          pattern="\d*"
          inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
          placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
      </div>
      <div class="col-sm-4 controls">
        <label class="control-label">CVV</label>
        <input class="security-code form-control"Â·
          inputmode="numeric"
          pattern="\d*"
          type="text" name="security-code"
          placeholder="&#149;&#149;&#149;">
      </div>
    </div>
    <div class="second-row form-group">
      <div class="col-sm-8 controls">
        <label class="control-label">Name on Card</label>
        <input class="billing-address-name form-control"
          type="text" name="name"
          placeholder="John Smith">
      </div>
      <div class="col-sm-4 controls">
        <label class="control-label">Expiration</label>
        <input class="expiration-month-and-year form-control"
          type="text" name="expiration-month-and-year"
          placeholder="MM / YY">
      </div>
    </div>
  </div>
  <div class="submit">
      <button>Upgrade</button>
  </div>
</form>

{% endif %}

{% endblock %}
