{% extends "base_sidebar.html" %}

{% block title %}Compare Plans | monitor404{% endblock %}

{% block primary_content %}

<h1>Compare Plans</h1>
<h4 class="subheader">Get the right plan to protect your sites against 404s.</h4>

<div class="plans">

    <div class="plan">
        <ul class="pricing-table">
            <li class="title">Basic</li>
            <li class="price">Free</li>
            <li class="bullet-item"><strong>200</strong> daily link checks per site</li>
            <li class="bullet-item">Detailed error logging</li>
            <li class="bullet-item">Email notifications</li>
            <li class="cta-button"><a class="button disabled" href="#">Current Plan</a></li>
        </ul>
    </div>

    <div class="plan">
        <ul class="pricing-table">
            <li class="title">Premium</li>
            <li class="price">$2.95/mo.</li>
            <li class="bullet-item"><strong>2,000</strong> daily link checks per site</li>
            <li class="bullet-item">Detailed error logging</li>
            <li class="bullet-item">Email notifications</li>
            <li class="bullet-item">Dedicated support</li>
            <li class="cta-button"><a class="button" href="#">Upgrade Now</a></li>
        </ul>
    </div>

    <div class="plan">
        <ul class="pricing-table">
            <li class="title">Enterprise</li>
            <li class="price">$9.95/mo.</li>
            <li class="bullet-item"><strong>20,000</strong> daily link checks per site</li>
            <li class="bullet-item">Detailed error logging</li>
            <li class="bullet-item">Email notifications</li>
            <li class="bullet-item">Dedicated support</li>
            <li class="cta-button"><a class="button" href="#">Upgrade Now</a></li>
        </ul>
    </div>

</div>

{% endblock %}
