{% extends "base.html" %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block title %}Password reset | 404monitor{% endblock %}

{% block content %}

<h1>Password reset</h1>

<p>Forgot your password? Enter your email below, and we'll send you a link to set a new one.</p>

<form action="{% url 'auth_password_reset' %}" method="post">
	{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Email address:</label> {{ form.email }} <button type="submit">Reset password</button></p>
</form>

{% endblock %}
