{% autoescape off %}
Hi there, you're receiving this e-mail because someone requested a password reset for your user account at {{ site_name }}.

If that was you, please go to the following page to set a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
Your username, in case you've forgotten, is "{{ user.username }}".

If you didn't request this, it's safe to ignore this email.

Thanks,
The {{ site_name }} Team

{% endautoescape %}
