{% extends "registration/base.html" %}

{% block title %}Password reset | monitor404{% endblock %}

{% block registration_content %}

{% if validlink %}

<h1>Enter new password</h1>

<p>Please enter your new password twice.</p>

<form action="" class="account password-reset" method="post">{% csrf_token %}
    <dl>
        <dt>
            <label for="id_new_password1">New password:</label>
            {% if form.new_password1.errors %}<span class="error">{{ form.new_password1.errors.as_text }}</span>{% endif %}
        </dt>
        <dd>{{ form.new_password1 }}</dd>
    </dl>

    <dl>
        <dt>
            <label for="id_new_password2">New password (again):</label>
            {% if form.new_password2.errors %}<span class="error">{{ form.new_password2.errors.as_text }}</span>{% endif %}
        </dt>
        <dd>{{ form.new_password2 }}</dd>
    </dl>
    <button type="submit">Change password</button>
</form>

{% else %}

<h1>Password reset failed</h1>

<p>We're sorry, that password reset link is not valid. Make sure that the link was entered correctly. If it was, it's possible the password reset link has already been used. You can <a class="highlight" href="{% url 'auth_password_reset' %}">request another password reset</a> if you'd like.</p>

{% endif %}

{% endblock %}
