amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.23
dj-database-url==0.4.1
Django==1.10.1
django-celery==3.2.0a1
django-cors-headers==1.1.0
django-registration==2.1.2
django-timezone-field==2.0rc1
kombu==3.0.35
psycopg2==2.6.2
pytz==2016.6.1
requests==2.11.1
stripe==1.37.0
vine==1.1.2
