aside {
  background: #f9f9f9;
  padding: 0 2em; }

h1.table {
  float: left; }

table.log {
  width: 100%; }

button.log-clear {
  padding: 0.5em 1em; }

.row {
  max-width: none; }

.management {
  margin-top: 20px;
  text-align: right; }

.break-word {
  word-wrap: break-word;
  word-break: break-all; }
