{% extends "registration/base.html" %}

{% block title %}Create an account | monitor404{% endblock %}

{% block registration_content %}

{% if form.errors %}
<p class="error">Please correct the errors below:{{ form.non_field_errors }}</p>
{% endif %}

<h1>Create an account</h1>

<p>Welcome to monitor404! Create an account below.</p>

<form method="post" action="{% url 'registration_register' %}" class="account create">{% csrf_token %}

    <dl>
        <dt>
            <label for="id_email">Username:</label>
            {% if form.username.errors %}
            <span class="error">{{ form.username.errors.as_text }}</span>
            {% endif %}
        </dt>
        <dd>{{ form.username }}</dd>
    </dl>

    <dl>
        <dt>
            <label for="id_email">Email address:</label>
            {% if form.email.errors %}
            <span class="error">{{ form.email.errors.as_text }}</span>
            {% endif %}
        </dt>
        <dd>{{ form.email }}</dd>
    </dl>

    <dl>
        <dt>
            <label for="id_password1">Password:</label>
            {% if form.password1.errors %}
            <span class="error">{{ form.password1.errors.as_text }}</span>
            {% endif %}
        </dt>
        <dd>{{ form.password1 }}</dd>
    </dl>

    <dl>
        <dt>
            <label for="id_password2">Password (again):</label>
            {% if form.password2.errors %}
            <span class="error">{{ form.password2.errors.as_text }}</span>
            {% endif %}
        </dt>
        <dd>{{ form.password2 }}</dd>
    </dl>

    <button type="submit">Create account</button>
</form>
  
{% endblock %}

